h1 {
    text-align: center;
    font-size: 70px;
    width: auto;
    height: auto;
    margin: 70px auto;
}

h1 span {
    font-weight: 100;
}

footer {
    background-color: black;
}

h2 {
    color: white;
    margin: 0 auto;
}

body {
    margin: 0;
}

table {
    width: 100%;
}

hr {
    border: none;
    border-width: 2px;
    border-top: 2px solid;
    width: auto;
    height: auto;
    margin: 0;
}

.line-recipes {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    background-color: white;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-logo {
    color: white;
    margin: 0;
    padding-left: 250px;
    width: 400px;
}

.github-logo {
    height: 62px;
    width: auto;
}

.footer-logo-td {
    width: 500px;
}

.description {
    padding-bottom: 70px;
    margin: 0;
}

.recipe-name {
    color: black;
}

.recipe-block {
    padding-left: 50px;
}

.text {
    color: black;
    margin-top: 16px;
    margin-bottom: 16px;
}

.image {
    width: 400px;
    height: 250px;
}

.link {
    color: inherit;
    text-decoration: none;
}